package ${package}.entity;

import com.baomidou.mybatisplus.annotation.*;

import lombok.Data;

import java.io.Serializable;
import java.util.Date;
import java.math.BigDecimal;


/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 * @version V1.0
 */
@TableName("${tableName}")
@Data
public class ${className}DO implements Serializable {
    private static final long serialVersionUID = 1L;
#foreach ($column in $columns)
	/** $column.comments */
##删除标记
#if($column.attrname=="delFlag")
    @TableLogic
##是否主键ID
#elseif($column.attrname==$pk.attrname)
	@TableId(type = IdType.ID_WORKER_STR)
##插入时注解标记
#elseif($column.attrname=="createDate"||$column.attrname=="createBy")
	@TableField( fill = FieldFill.INSERT)
##更新时注解标记
#elseif($column.attrname=="updateDate"||$column.attrname=="updateBy")
	@TableField( fill = FieldFill.INSERT_UPDATE)
#end
    private $column.attrType $column.attrname;
#end

###foreach ($column in $columns)
##	/**
##	 * 设置：${column.comments}
##	 */
##	public void set${column.attrName}($column.attrType $column.attrname) {
##		this.$column.attrname = $column.attrname;
##	}
##	/**
##	 * 获取：${column.comments}
##	 */
##	public $column.attrType get${column.attrName}() {
##		return $column.attrname;
##	}
###end
##    @Override
##    public String toString() {
##        return "${classname}DO{" +
###foreach ($column in $columns)
##                ", $column.attrname='" + $column.attrname + '\'' +
###end
##                '}';
##    }
}
